<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-warning mb-3">
	<div class="container">
		<a class="navbar-brand" href="/">
		<div class="logo-image">
            <img src="../img/doragon.png" width="60" height="60" class="img-fluid">
      	</div>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			{{#if user}}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/movie/listMovies">Movie List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/movie/addMovie">Add Movie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/userlist">User List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ticket/listTickets">Ticket List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ticket/seats">Seats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/promos/listPromotions">Promotion List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/promos/addPromotion">Add Promotions</a>
				</li>
			</ul>
			{{else}}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/movie/listMovies">Movie List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ticket/seats">Seats</a>
				</li>
				<li class="nav-item">
<<<<<<< HEAD
					<a class="nav-link" href="/ticket/listTickets">Tickets</a>
=======
					<a class="nav-link" href="/promos/listPromotions">Promotion List</a>
>>>>>>> df79e96b61dcbe4972c93c52c0001e59d3d99e51
				</li>
			</ul>
			{{/if}}
			<ul class="navbar-nav ml-auto">
				{{#if user}}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
						id="navbarDropdownMenuLink">{{user.name}}</a>
						<div class="dropdown-menu">
							<a href="" class="dropdown-item">Type : {{user.accounttype}}</a>
						</div>
				</li>
				<li class="nav-item">
					<a href="/user/logout" class="nav-link">Logout</a>
				</li>
				{{else}}
				<li class="nav-item">
					<a href="/user/login" class="nav-link">Login</a>
				</li>
				<li class="nav-item">
					<a href="/user/register" class="nav-link">Register</a>
				</li>
				{{/if}} 
			</ul>
		</div>
	</div>
</nav>